'backgroundColor': 'transparent', # 变透明去白遮挡
’title’: {
    ’text’: '全国主要城市空气质量 - 百度地图',
    ’left’: 'center'
  },
  ‘tooltip‘: {
    ‘trigger‘: 'item'
  },
  ’bmap’: {
    ’zoom’: 5,
    ’roam’: true,
  },
   'visualMap': {
    'show': true,
    'top': 'top',
    'min': '${min_value}',
    'max': '${max_value}',
    'seriesIndex': 0,
    'calculable': true
  },
  series: [
    {
      'name': '各省销量额',
      'type': 'heatmap',
      'coordinateSystem': 'bmap',
      'data': '${provinces_sales}'
    }
  ]
}

            'actionType': 'ajax',
            'api': {
              'url': 'api/order/send_email?sid=${sid}',
              'headers':{
                'X-CSRFToken': '{{csrf_token}}'
                }
               },